<div class="container-fluid details-server">
  <div class="row">
    <div class="col">
      <div class="container row">
        <div class="col">
          <div class="server-state-title">FHIR Resource Server</div>
          <div class="server-state">
            <%=instance.url%>
          </div>
          <% unless locals[:error_code].nil? %>
            <div class="alert alert-danger" role="alert">
              <% if error_code == 'no_launch' %>
                The launch URL for this instance was visited, but no sequence was actively running that was waiting for this event.  Please run the EHR launch test
                before initiating an EHR launch from the server.
              <% elsif error_code == 'no_redirect' %>
                The redirect URL for this instance was visited, but no sequence was actively running that was waiting for this event.  Please run the a launch sequence test
                before visiting this redirect url.
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main">
    <div class="sequence-header">
      <button type="button" class="btn btn-outline-secondary client-state-button" data-toggle="modal" data-target="#stateModal">
        <span class="oi oi-wrench" title="Config" aria-hidden="true"></span>
        Instance State
      </button>

      Test Sequences <span class="sequence-header-details">(<%= sequence_results.values.map(&:result).count("pass") %> of <%= SequenceBase.subclasses.reject(&:optional?).count %> required sequences successfully demonstrated)</span>
    </div>
    <div class="sequence-table">
      <% sequences.each do |sequence_class| %>
        <%= erb(:sequence,{},{instance: instance, sequence_results: sequence_results, sequence_class: sequence_class}) %>
      <% end %>

      <%= erb(:total_score,{},{instance: instance}) %>
    </div>
  </div>
</div>


<!-- Modals -->
<div class="modal fade" id="ConformanceSequenceSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Capability Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="ConformanceSkip">
        <div class="modal-body">
          <p>
            If you want to skip the Conformance sequence, then you are required
            to manually supply authorization and token endpoints.
          </p>
            <div class="form-group">
              <label for="conformanceAuthorizeEndpoint">OAuth 2.0 Authorize Endpoint</label>
              <input type="text" class="form-control" name="conformance_authorize_endpoint" id="conformanceAuthorizeEndpoint"  placeholder="https://">
            </div>
            <div class="form-group">
              <label for="conformanceAuthorizeEndpoint">OAuth 2.0 Token Endpoint</label>
              <input type="text" class="form-control" name="conformance_token_endpoint" id="conformanceTokenEndpoint"  placeholder="https://">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="DynamicRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OAuth 2.0 Dynamic Client Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="DynamicRegistration">
        <div class="modal-body">
          <p>
            Enter the dynamic registration details.
          </p>
          <div class="form-group">
            <label for="registration_url">Registration URL</label>
            <input type="text" class="form-control" name="registration_url" id="registration_url" value="<%= instance.oauth_register_endpoint %>" required>
          </div>
          <div class="form-group">
            <label for="client_name">Client Name</label>
            <input type="text" class="form-control" name="client_name" id="client_name" value="Crucible SMART-on-FHIR Test App" required>
          </div>
          <div class="form-group">
            <label for="initiate_login_uri">Launch URI</label>
            <input readonly type="text" class="form-control" name="initiate_login_uri" id="initiate_login_uri" value="<%=request.base_url%>/smart/<%=instance.id%>/<%=instance.client_endpoint_key%>/launch">
          </div>
          <div class="form-group">
            <label for="redirect_uris">Redirect URI</label>
            <input readonly type="text" class="form-control" name="redirect_uris" id="redirect_uris" value="<%=request.base_url%>/smart/<%=instance.id%>/<%=instance.client_endpoint_key%>/redirect">
          </div>
          <div class="form-group">
            <label for="scope">Scopes</label>
            <input type="text" class="form-control" name="scope" id="scope" value="<%=instance.scopes || DEFAULT_SCOPES %>" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="DynamicRegistrationSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Dynamic Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="dynamic_registration_skip">
        <div class="modal-body">
          <p>
            Please register your application with the following information:
          </p>
          <div class="form-group">
            <label for="skip_launch">Launch URL</label>
            <input id="skip_launch" name="skip_launch" readonly type="text" class="form-control" value="<%=request.base_url%>/smart/<%=instance.id%>/<%=instance.client_endpoint_key%>/launch">
          </div>
          <div class="form-group">
            <label for="skip_redirect">Redirect URL</label>
            <input id="skip_redirect" name="skip_redirect" readonly type="text" class="form-control" value="<%=request.base_url%>/smart/<%=instance.id%>/<%=instance.client_endpoint_key%>/redirect">
          </div>
          <div class="form-group">
            <label for="token_endpoint_auth_method">Token Endpoint Authorization Method</label>
            <input readonly type="text" class="form-control" name="token_endpoint_auth_method" id="token_endpoint_auth_method" value="none">
          </div>
          <div class="form-group">
            <label for="grant_types">Grant Type</label>
            <input readonly type="text" class="form-control" name="grant_types" id="grant_types" value="authorization_code" required>
          </div>
          <div class="form-group">
            <label for="scope">Scopes</label>
            <input type="text" class="form-control" name="scope" id="scope" value="<%= DEFAULT_SCOPES %>" required>
          </div>
          <div class="form-group">
            <label for="dynamicRegistrationClientId">Enter Client Id</label>
            <input type="text" class="form-control" name="client_id" id="dynamicRegistrationClientId" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Skip Dynamic Registration</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="PatientStandaloneLaunchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Patient Standalone Launch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="PatientStandaloneLaunch">
        <div class="modal-body">
          <p>
            Enter the desired authorization scopes. Ensure your app registration included these scopes.
          </p>
          <div class="form-group">
            <label for="patientStandaloneLaunchScopes">Scopes</label>
            <input type="text" class="form-control" name="scopes" id="patientStandaloneLaunchScopes" value="<%=instance.scopes || DEFAULT_SCOPES %>" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Run Standalone Launch</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ProviderEHRLaunchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Provider EHR Launch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="ProviderEHRLaunch">
        <div class="modal-body">
          <p>
            Enter the desired authorization scopes. Ensure your app registration included these scopes.
          </p>
          <div class="form-group">
            <label for="patientStandaloneLaunchScopes">Scopes</label>
            <input type="text" class="form-control" name="scopes" id="providerEHRLaunchScopes" value="<%=instance.scopes || DEFAULT_SCOPES %>" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Run EHR Launch</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="TokenIntrospectionSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Token Introspection Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="TokenIntrospectionSkip">
        <div class="modal-body">
          <p>
            By skipping the OAuth 2.0 Token Introspection test, you are confirming that the user is
            authorized for at least three months.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Manually Confirm Authorization Period</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% waiting_on_sequence = instance.waiting_on_sequence %>
<% unless waiting_on_sequence.nil? %>
  <% redirect_to = "#{request.base_url}/smart/#{instance.id}/#{instance.client_endpoint_key}/#{waiting_on_sequence.wait_at_endpoint}" %>
  <div class="modal fade" id="WaitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-show="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Waiting at <strong><%= waiting_on_sequence.wait_at_endpoint.upcase %></strong> URL</h5>
        </div>
        <div class="modal-body">
          <p>
          Waiting for server to send client browser to <strong><%= waiting_on_sequence.wait_at_endpoint.upcase %></strong> URL: <br/><%=redirect_to %>
          </p>
          <div class="modal-footer">
            <a href="<%= "#{request.base_url}/smart/#{instance.id}/" %>" class="btn btn-secondary">Close</a>
            <a href="<%= "#{request.base_url}/smart/#{instance.id}/sequence_result/#{waiting_on_sequence.id}/cancel" %>" class="btn btn-danger">Cancel Sequence</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Current Application State</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= erb(:state_status, {}, {instance: instance}) %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="testResultDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="TokenIntrospectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Introspection Launch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="TokenIntrospection">
        <div class="modal-body">
          <p>
            Enter the introspection data
          </p>
          <div class="form-group">
            <label for="access_token">Access Token</label>
            <input type="text" class="form-control" name="access_token" id="access_token" value="<%= instance.token %>" required>
          </div>
          <div class="form-group">
            <label for="oauth_introspection_endpoint">Introspection URL</label>
            <input type="text" class="form-control" name="oauth_introspection_endpoint" id="oauth_introspection_endpoint" value="<%= instance.oauth_introspection_endpoint %>" required>
          </div>
          <div class="form-group">
            <label for="client_name">Resource ID (defaults to client ID but may be different)</label>
            <input type="text" class="form-control" name="resource_id" id="resource_id" value="<%= !instance.resource_id.nil? ? instance.resource_id : instance.client_id %>" required>
          </div>
          <div class="form-group">
            <label for="client_name">Resource Secret (defaults to client secret but may be different)</label>
            <input type="text" class="form-control" name="resource_secret" id="resource_secret" value="<%= instance.resource_secret %>" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Run Introspection Test</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ArgonautDataQueryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Argonaut Query Server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="ArgonautDataQuery">
        <div class="modal-body">
          <p>
          This sequence will perform queries in accordance with the Argonaut Data Query Server Guide. 
          </p>
          <div class="form-group">
            <label for="registration_url">Supported Resources</label>
            <div class="form-row">
              <% instance.supported_resources.in_groups(3) do |group| %>
                <div class="col">
                  <% group.each do |resource| %>
                    <% next if resource.nil? %>
                    <div class="form-check">
                      <input class="form-check-input" 
                             type="checkbox" 
                             id="resource_supported_<%=resource.resource_type %>" 
                             name="resource_supported_<%=resource.resource_type %>" 
                             <% if resource.supported %>checked<%end%>
                             disabled>
                      <label class="form-check-label" for="resource_supported_<%=resource.resource_type %>">
                        <%= resource.resource_type %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <label for="registration_url">Patient ID</label>
            <input type="text" class="form-control" name="patient_id" id="patient_id" value="<%= instance.patient_id %>" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Run Tests</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="ArgonautProfilesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Argonaut Data Profiles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="ArgonautProfiles">
        <div class="modal-body">
          <p>
          This sequence will check the following resources returned by the Argonaut Query Sequence against 
          the relevant Argonaut profile.
          </p>
          <% if instance.resource_references.count > 0 %>
            <!-- <h4>Authorized Resources</h4> -->
            <%instance.resource_references.map(&:resource_type).uniq.each do |resource_type| %>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=resource_type %></label>
                <div class="col-sm-9">
                  <texatarea class="form-control" rows=3 readonly><%=instance.resource_references.select{|r| r.resource_type == resource_type}.map(&:resource_id).join(', ') %></textarea>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Run Tests</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="testsRunningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tests Running</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="TokenIntrospection">
        <div class="modal-body">
          Tests are currently running <span class="number-complete"></span>
        </div>
      </form>
    </div>
  </div>
</div>
