<div class="row">
  <div class="col-4">
    <div class="sticky">
      <div class="server-state">
        <%=@instance.url%>
      </div>
      <div class="client-state">
        <div class="client-state-title">
          Current Client Status: <span class="client-not-authenticated">Not Authorized</span>
        </div>
        <% if @instance.oauth_authorize_endpoint.nil? && @instance.oauth_token_endpoint.nil?%>
          <p>
          The client does not yet have the necessary OAuth2
          endpoint information to begin authorization.
          Please run the <strong>Capability Statement</strong> test sequence
          to retrieve this information.
          </p>
        <% else %>
          <p>
            OAuth Authorize Endpoint: <%= @instance.oauth_authorize_endpoint %>
            <br/>
            OAuth Token Endpoint: <%= @instance.oauth_token_endpoint %>
          </p>
        <% end %>
        <% if !@instance.dynamically_registered.nil? && !@instance.dynamically_registered && !@instance.oauth_authorize_endpoint.nil? && !@instance.oauth_token_endpoint.nil?%>
          <p>
            Launch URL: <%=request.base_url%>/instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/launch
            <br>
            Redirect URL: <%=request.base_url%>/instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/redirect
            <br>
            Client ID: <%= @instance.client_id %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="row scorecard-title">
      <div class="col-sm-9">
        Test Sequences <span class="scorecard-title-details">(<%= @sequence_results.values.map(&:result).count("pass") %> of <%= SequenceBase.subclasses.count %> sequences successfully demonstrated)</span>
      </div>
      <div class="col-sm-3 text-right">
        <span class="oi oi-print" title="Print" aria-hidden="true"></span>
      </div>
    </div>
    <div class="scorecard-table">
      <% @sequences.each do |sequence_class| %>
        <%= erb(:sequence,{},{sequence_class: sequence_class}) %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="ConformanceSequenceSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Capability Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="ConformanceSkip">
        <div class="modal-body">
          <p>
            If you want to skip the Conformance sequence, then you are required
            to manually supply authorization and token endpoints.
          </p>
            <div class="form-group">
              <label for="conformanceAuthorizeEndpoint">OAuth 2.0 Authorize Endpoint</label>
              <input type="text" class="form-control" name="conformance_authorize_endpoint" id="conformanceAuthorizeEndpoint"  placeholder="https://">
            </div>
            <div class="form-group">
              <label for="conformanceAuthorizeEndpoint">OAuth 2.0 Token Endpoint</label>
              <input type="text" class="form-control" name="conformance_token_endpoint" id="conformanceTokenEndpoint"  placeholder="https://">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="DynamicRegistrationSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Dynamic Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="dynamic_registration_skip">
        <div class="modal-body">
          <p>
            Please register your application with the following information:
          </p>
          <ul>
            <li>Launch URL: <input type="text" size="50" value="<%=request.base_url%>/instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/launch">
            <li>Redirect URL: <input type="text" size="50" value="<%=request.base_url%>/instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/redirect">
          </ul>
          <div class="form-group">
            <label for="dynamicRegistrationClientId">Enter Client Id</label>
            <input type="text" class="form-control" name="client_id" id="dynamicRegistrationClientId">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Skip Dynamic Registration</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="PatientStandaloneLaunchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Patient Standalone Launch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="PatientStandaloneLaunch">
        <div class="modal-body">
          <p>
            Enter the desired authorization scopes. Ensure your app registration included these scopes.
          </p>
          <div class="form-group">
            <label for="patientStandaloneLaunchScopes">Scopes</label>
            <input type="text" class="form-control" name="scopes" id="patientStandaloneLaunchScopes" value="launch/patient online_access openid patient/*.* profile">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Run Standalone Launch</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ProviderEHRLaunchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Provider EHR Launch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="PatientStandaloneLaunch">
        <div class="modal-body">
          <p>
            Waiting for EHR launch at <%=request.base_url%>/instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/launch
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
