<div class="row">
  <div class="col-4">
    <div class="sticky">
      <div class="server-state">
        <%=@instance.url%>
      </div>
      <div class="client-state">
        <div class="client-state-title">
          Current Client Status: <span class="client-not-authenticated">Not Authorized</span>
        </div>
        <% if @instance.oauth_authorize_endpoint.nil? && @instance.oauth_token_endpoint.nil?%>
          <p>
          The client does not yet have the necessary OAuth2
          endpoint information to begin authorization.
          Please run the <strong>Capability Statement</strong> test sequence
          to retrieve this information.
          </p>
        <% else %>
          <p>
            OAuth Authorize Endpoint: <%= @instance.oauth_authorize_endpoint %>
            <br/>
            OAuth Token Endpoint: <%= @instance.oauth_token_endpoint %>
          </p>
        <% end %>
        <% if !@instance.dynamically_registered.nil? && !@instance.dynamically_registered && !@instance.oauth_authorize_endpoint.nil? && !@instance.oauth_token_endpoint.nil?%>
          <p>
            Launch URL: /instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/launch
            <br>
            Redirect URL: /instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/redirect
            <br>
            Client ID: <%= @instance.client_id %>
          </p>
        <% end %>
        <!-- <ul class="client&#45;state&#45;list"> -->
          <!-- <li>Registration Method: Manual</li> -->
          <!-- <li>Authenticated: No</li> -->
          <!-- <li>Authentication Method: EHR Launch</li> -->
          <!-- <li>OAuth2 Authentication Server: http://...../</li> -->
          <!-- <li>Token Timeout: 12 Hours</li> -->
          <!-- <li>Refresh Token: yes</li> -->
          <!-- <li>Confidential Client?: no</li> -->
          <!-- <li>PatientID: ...</li> -->
          <!-- <li>Current Scopes: ...</li> -->
        <!-- </ul> -->
      </div>
    </div>
  </div>
  <div class="col-8">

    <!-- <div class="instructions"> -->
    <!--   Instructions -->
    <!-- </div> -->

    <!-- <div class="jumbotron scorecard&#45;jumbotron"> -->
    <!--   <p>Show the current status of the client here... (authorized, etc?)</p> -->
    <!--   <ul> -->
    <!--     <li>Client Instance Name: <%=@instance.name%></li> -->
    <!--     <li>FHIR Endpoint: <%=@instance.url%></li> -->
    <!--     <li>Registration Method: Manual</li> -->
    <!--     <li>Authenticated: Yes</li> -->
    <!--     <li>Authentication Method: EHR Launch</li> -->
    <!--     <li>OAuth2 Authentication Server: http://...../</li> -->
    <!--     <li>Token Timeout: 12 Hours</li> -->
    <!--     <li>Refresh Token: yes</li> -->
    <!--     <li>Confidential Client?: no</li> -->
    <!--     <li>PatientID: ...</li> -->
    <!--     <li>Current Scopes: ...</li> -->
    <!--   </ul> -->
    <!-- </div> -->
    <!-- <h3>Next Tests</h3> -->
    <!--  -->
    <!-- <div class="scorecard&#45;table"> -->
    <!--   <div class="scorecard&#45;row"> -->
    <!--     <div class="scorecard&#45;score" style="background&#45;color: #FFF; border: 1px solid #666"> -->
    <!--     </div> -->
    <!--     <div class="scorecard&#45;rubric"> -->
    <!--       <div class="scorecard&#45;name"> -->
    <!--         Capability Statement -->
    <!--       </div> -->
    <!--       <div class="scorecard&#45;out&#45;of"> -->
    <!--         10 out of 10 passed -->
    <!--       </div> -->
    <!--       <div class="scorecard&#45;out&#45;of"> -->
    <!--         0 warnings -->
    <!--       </div> -->
    <!--     </div> -->
    <!--     <div class="scorecard&#45;action"> -->
    <!--       <button type="button" class="btn btn&#45;primary">Run</button> -->
    <!--       <button type="button" class="btn btn&#45;primary">Skip</button> -->
    <!--     </div> -->
    <!--     <div class="scorecard&#45;message"> -->
    <!--       Test that the FHIR server properly... -->
    <!--       Test that the FHIR server properly... -->
    <!--       Test that the FHIR server properly... -->
    <!--       Test that the FHIR server properly... -->
    <!--       Test that the FHIR server properly... -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
    <!--  -->
    <!-- <br> -->

    <!-- <h3>Pending Tests</h3> -->
        <!-- <div class="scorecard&#45;score" style="background&#45;color: #006837"> -->
        <!--   <span class="oi oi&#45;check" title="person" aria&#45;hidden="true"></span> -->
        <!-- </div> -->

    <div class="row scorecard-title">
      <div class="col-sm-9">
        Test Sequences <span class="scorecard-title-details">(0 of 9 sequences successfully demonstrated)</span>
      </div>
      <div class="col-sm-3 text-right">
        <span class="oi oi-print" title="Print" aria-hidden="true"></span>
      </div>
    </div>
    <div class="scorecard-table">
      <div class="scorecard-row">
        <% case @sequence_results['Conformance'].try(:result)
          when nil %>
            <div class="scorecard-score scorecard-score-pending">
              <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
            </div>
        <% when 'pass' %>
            <div class="scorecard-score scorecard-score-pass">
              <span class="oi oi-check" title="Pass" aria-hidden="true"></span>
            </div>
        <% when 'fail' %>
            <div class="scorecard-score scorecard-score-fail">
              <span class="oi oi-x" title="Fail" aria-hidden="true"></span>
            </div>
        <% when 'skip' %>
            <div class="scorecard-score scorecard-score-skip">
              <span class="oi oi-warning" title="Skip" aria-hidden="true"></span>
            </div>
        <% end %>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Capability Statement
          </div>
          <div class="scorecard-out-of">
            <% if @sequence_results['Conformance'].nil? %>
              10 tests
            <% elsif @sequence_results['Conformance'].result == 'skip'%>
              Test skipped

            <% else %>
              <%= @sequence_results['Conformance'].passed_count %> Passed -
              <%= @sequence_results['Conformance'].failed_count %> Failed -
              (<%= @sequence_results['Conformance'].warning_count %> Warning(s))

            <% end %>
          </div>
          <div class="scorecard-details">
            The FHIR server properly exposes a capability statement with necessary information.
          </div>
        </div>
        <div class="scorecard-action">
          <a href="conformance_sequence" role="button" class="btn btn-primary"><%if @instance.oauth_token_endpoint.nil? %>Begin<% else %>Rerun<% end %></a>
          <% if @sequence_results['Conformance'].nil? || @sequence_results['Conformance'].result == 'fail'%>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#conformanceSkipModal">Skip</button>
          <% end %>
        </div>
      </div>

      <div class="scorecard-row">
        <% case @sequence_results['DynamicRegistration'].try(:result)
          when nil %>
            <div class="scorecard-score scorecard-score-pending">
              <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
            </div>
        <% when 'pass' %>
            <div class="scorecard-score scorecard-score-pass">
              <span class="oi oi-check" title="Pass" aria-hidden="true"></span>
            </div>
        <% when 'fail' %>
            <div class="scorecard-score scorecard-score-fail">
              <span class="oi oi-x" title="Fail" aria-hidden="true"></span>
            </div>
        <% when 'skip' %>
            <div class="scorecard-score scorecard-score-skip">
              <span class="oi oi-warning" title="Skip" aria-hidden="true"></span>
            </div>
        <% end %>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Dynamic Client Registration
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-details">
            The OAuth2 Server supports dynamic client registration.
          </div>
        </div>
        <div class="scorecard-action" <%if @instance.oauth_token_endpoint.nil? %>style="opacity:.3"<% end %>>
          <%if @instance.oauth_token_endpoint.nil? %>
            <button type="button" class="btn btn-primary" disabled>Begin</button>
            <button type="button" class="btn btn-primary" disabled>Skip</button>
          <% else %>
            <button type="button" class="btn btn-primary"><%if @instance.oauth_token_endpoint.nil? %>Begin<% else %>Rerun<% end %></button>
            <% if @sequence_results['DynamicRegistration'].nil? || @sequence_results['DynamicRegistration'].result == 'fail'%>
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#dynamicRegistrationSkipModal">Skip</button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="scorecard-row">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Demonstrate at least one Launch Sequence

          </div>
          <div class="scorecard-out-of">
            0 of 4 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports at least one of the following required launch sequences.
          </div>
        </div>
      </div>

      <div class="scorecard-row" style="padding-left: 50px">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Provider EHR Launch
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports launching the app via Provider EHR launch.
          </div>
        </div>
        <div class="scorecard-action" <% if @instance.dynamically_registered.nil? %>style="opacity:.3"<% end %>>
          <% if @instance.dynamically_registered.nil? %>
            <button type="button" class="btn btn-primary" disabled>Begin</button>
            <button type="button" class="btn btn-primary" disabled>Skip</button>
          <% else %>
            <button type="button" class="btn btn-primary">Begin</button>
            <button type="button" class="btn btn-primary">Skip</button>
          <% end %>
        </div>
      </div>

      <div class="scorecard-row" style="padding-left: 50px">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Provider Standalone Launch
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports launching the app via Provider standalone launch.
            <% if !@instance.dynamically_registered.nil? %>
            <form method="POST" action="launch_sa">
              <h2>Standalone Launch</h2>
              <table class="pure-table pure-table-horizontal data">
                <tbody>
                  <tr>
                    <td>Client ID</td>
                    <td class="last">
                      <input type="text" size="50" name="Client ID" value="" required>
                    </td>
                  </tr>
                  <tr>
                    <td>Scopes</td>
                    <td class="last">
                      <input type="text" size="50" name="Scopes" value="launch/patient patient/*.read openid profile" required>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="submit">
            </form>
          <% end %>
          </div>
        </div>
        <div class="scorecard-action" <% if @instance.dynamically_registered.nil? %>style="opacity:.3"<% end %>>
          <% if @instance.dynamically_registered.nil? %>
            <button type="button" class="btn btn-primary" disabled>Begin</button>
            <button type="button" class="btn btn-primary" disabled>Skip</button>
          <% else %>
            <button type="button" class="btn btn-primary">Begin</button>
            <button type="button" class="btn btn-primary">Skip</button>
          <% end %>
        </div>
      </div>

      <div class="scorecard-row" style="padding-left: 50px">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Patient EHR Launch
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports launching the app from a patient protal.
          </div>
        </div>
        <div class="scorecard-action" <% if @instance.dynamically_registered.nil? %>style="opacity:.3"<% end %>>
          <% if @instance.dynamically_registered.nil? %>
            <button type="button" class="btn btn-primary" disabled>Begin</button>
            <button type="button" class="btn btn-primary" disabled>Skip</button>
          <% else %>
            <button type="button" class="btn btn-primary">Begin</button>
            <button type="button" class="btn btn-primary">Skip</button>
          <% end %>
        </div>
      </div>

      <div class="scorecard-row" style="padding-left: 50px">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Patient Standalone Launch
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports launching the app via Patient standalone launch.
          </div>
        </div>
        <div class="scorecard-action" <% if @instance.dynamically_registered.nil? %>style="opacity:.3"<% end %>>
          <% if @instance.dynamically_registered.nil? %>
            <button type="button" class="btn btn-primary" disabled>Begin</button>
            <button type="button" class="btn btn-primary" disabled>Skip</button>
          <% else %>
            <button type="button" class="btn btn-primary">Begin</button>
            <button type="button" class="btn btn-primary">Skip</button>
          <% end %>
        </div>
      </div>

      <div class="scorecard-row">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Argonaut Data Query IG
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports exchanging data conforming to the Argonaut Data Query IG.
          </div>
        </div>

        <div class="scorecard-action" style="opacity:.3">
          <button type="button" class="btn btn-primary" disabled>Begin</button>
          <button type="button" class="btn btn-primary" disabled>Skip</button>
        </div>

      </div>

      <div class="scorecard-row">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            OpenID Connect
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports user authorization using OpenID Connect.
          </div>
        </div>
        <div class="scorecard-action" style="opacity:.3">
          <button type="button" class="btn btn-primary" disabled>Begin</button>
          <button type="button" class="btn btn-primary" disabled>Skip</button>
        </div>
      </div>

      <div class="scorecard-row">
        <div class="scorecard-score" style="background-color: #fff; color: #666; border: 2px solid #666">
          <span class="oi oi-ellipses" title="Pending" aria-hidden="true"></span>
        </div>
        <div class="scorecard-rubric">
          <div class="scorecard-name">
            Refresh Token
          </div>
          <div class="scorecard-out-of">
            10 out of 10 passed
          </div>
          <div class="scorecard-out-of">
            0 warnings
          </div>
          <div class="scorecard-details">
            The server supports renewing authorization using refresh tokens.
          </div>
        </div>
        <div class="scorecard-action" style="opacity:.3">
          <button type="button" class="btn btn-primary" disabled>Begin</button>
          <button type="button" class="btn btn-primary" disabled>Skip</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="conformanceSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Capability Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="conformance_sequence_skip">
        <div class="modal-body">
          <p>
            Description.
            Description.
            Description.
            Description.
            Description.
            Description.
            Description.
          </p>
            <div class="form-group">
              <label for="conformanceAuthorizeEndpoint">OAuth 2.0 Authorize Endpoint</label>
              <input type="text" class="form-control" name="conformance_authorize_endpoint" id="conformanceAuthorizeEndpoint"  placeholder="https://">
            </div>
            <div class="form-group">
              <label for="conformanceAuthorizeEndpoint">OAuth 2.0 Token Endpoint</label>
              <input type="text" class="form-control" name="conformance_token_endpoint" id="conformanceTokenEndpoint"  placeholder="https://">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="dynamicRegistrationSkipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skip Dynamic Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="dynamic_registration_skip">
        <div class="modal-body">
          <p>
            Please register your application with the following information:
          </p>
          <ul>
            <li>Launch URL: /instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/launch
            <li>Redirect URL: /instance/<%=@instance.id%>/<%=@instance.client_endpoint_key%>/redirect
          </ul>
          <div class="form-group">
            <label for="dynamicRegistrationClientId">Enter Client Id</label>
            <input type="text" class="form-control" name="client_id" id="dynamicRegistrationClientId">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Skip Dynamic Registration</button>
        </div>
      </form>
    </div>
  </div>
</div>
