<div class="result-details collapse" id="<%=sequence_class%>-details">
  <ul>
    <% sequence_result.test_results.each do |result, index| %>
      <li data-testing-instance-id="<%=sequence_result.testing_instance.id%>" data-test-result-id="<%=result.id%>">
        <% case result.result
          when 'pass' %>
            <div class="result-details-icon result-details-icon-pass">
              <span class="oi oi-check" title="Pass" aria-hidden="true"></span>
            </div>
        <% when 'fail' %>
            <div class="result-details-icon result-details-icon-fail">
              <span class="oi oi-x" title="Fail" aria-hidden="true"></span>
            </div>
        <% when 'error' %>
            <div class="result-details-icon result-details-icon-error">
              !
            </div>
        <% when 'skip' %>
            <div class="result-details-icon result-details-icon-skip">
              <span class="oi oi-warning" title="Skip" aria-hidden="true"></span>
            </div>
        <% when 'todo' %>
            <div class="result-details-icon result-details-icon-todo">
              <span class="oi oi-minus" title="todo" aria-hidden="true"></span>
            </div>
        <% end %>
        <% if result.result == 'todo' %> TODO: <% end %>
        <%= result.name %>
        <% if result.result == 'fail' || result.result == 'error' %>
          <div class="result-details-message">
            Failure Message: <%= result.message %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


