<div class="sequence-row">
  <div class="sequence-main">
    <a name="<%=sequence_class.sequence_name%>"></a>
    <% case sequence_results[sequence_class.sequence_name].try(:result)
      when nil %>
        <div class="sequence-score sequence-score-pending" data-toggle="tooltip" title="Sequence Not Yet Run">
          &nbsp;
        </div>
    <% when 'pass' %>
        <div class="sequence-score sequence-score-pass" data-toggle="tooltip" title="Sequence Passed">
          <span class="oi oi-check" aria-hidden="true"></span>
        </div>
    <% when 'fail' %>
        <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Failed">
          <span class="oi oi-x" aria-hidden="true"></span>
        </div>
    <% when 'cancel' %>
        <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Cancelled During Execution">
          <span class="oi oi-x" title="Cancel" aria-hidden="true"></span>
        </div>
    <% when 'error' %>
        <div class="sequence-score sequence-score-error" data-toggle="tooltip" title="Sequence Test System Error">
          !
        </div>
    <% when 'wait' %>
        <div class="sequence-score sequence-score-wait" data-toggle="tooltip" title="Sequence is Awaiting Client Redirect or Launch">
          <span class="oi oi-media-pause" title="waiting" aria-hidden="true"></span>
        </div>
    <% when 'skip' %>
        <div class="sequence-score sequence-score-skip" data-toggle="tooltip" title="Sequence Manually Verified by User">
            <span class="oi oi-eye" title="Manual Verification" aria-hidden="true"></span>
        </div>
    <% end %>
    <div class="sequence-title">
      <a class="sequence-name collapsed" data-toggle="collapse" aria-expanded="false" data-target="#<%=sequence_class%>-details">
        <% if sequence_class.optional? %>
          OPTIONAL |
        <% end %>
        <%= sequence_class.title %>
      </a>
      <div class="sequence-out-of">
        <% if sequence_results[sequence_class.sequence_name].nil? %>
          <%= sequence_class.test_count %> tests
        <% elsif sequence_results[sequence_class.sequence_name].result == 'skip' %>
          Test manually verified
        <% else %>
          <%= sequence_results[sequence_class.sequence_name].passed_count %> Passed -
          <%= sequence_results[sequence_class.sequence_name].failed_count %> Failed
          <% if sequence_results[sequence_class.sequence_name].skip_count > 0 %> -
            <%= sequence_results[sequence_class.sequence_name].skip_count %> Skipped
          <% end %>

        <% end %>
      </div>
      <div class="sequence-details">
        <%= sequence_class.description %>
      </div>
    </div>
    <div class="sequence-action">
      <% if sequence_class.preconditions_met_for? instance %>
        <% if sequence_class.optional? %>
            <span title="Manually perform/verify this test" data-toggle="tooltip">
              <button type="submit" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#<%= sequence_class.sequence_name %>SkipModal">
                <span class="oi oi-eye" title="Manual"></span>
                Manual
              </button>
            </span>
        <% end %>
        <% if sequence_class.modal_before_run? %>
          <span title="Execute Test" data-toggle="tooltip">
            <% if sequence_results[sequence_class.sequence_name] && sequence_results[sequence_class.sequence_name].result != 'skip'%>
              <button type="submit" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#<%= sequence_class.sequence_name %>Modal">
                <span class="oi oi-action-undo" title="Execute Test"></span>
                Rerun
              </button>
            <% else %>
                <button type="submit" class="btn btn-<% if sequence_results[sequence_class.sequence_name] %>outline-<%end%>info btn-sm" data-toggle="modal" data-target="#<%= sequence_class.sequence_name %>Modal">
                <span class="oi oi-media-play" title="Execute Test"></span>
                Begin
              </button>
            <% end %>
          </span>
        <% else %>
          <span title="Execute Test" data-toggle="tooltip">
            <% if sequence_results[sequence_class.sequence_name] && sequence_results[sequence_class.sequence_name].result != 'skip'%>
              <a href="<%= sequence_class.sequence_name %>" role="button" class="btn btn-outline-info btn-sm">
                <span class="oi oi-action-undo" title="Execute Test"></span>
                Rerun
              </a>
            <% else %>
              <a href="<%= sequence_class.sequence_name %>" role="button" class="btn btn-info btn-sm">
                <span class="oi oi-media-play" title="Execute Test"></span>
                Begin
              </a>
            <% end %>
          </span>
        <% end %>
      <% else %>
        <span><%= sequence_class.preconditions_description %></span>
      <% end %>
      <div class="sequence-action-collapse">
        <a class="sequence-collapse collapsed" data-toggle="collapse" aria-expanded="false" data-target="#<%=sequence_class%>-details">
          <span id="<%=sequence_class%>-details-expand" data-toggle="tooltip" class="oi oi-chevron-right" title="View Sequence Tests" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <%= erb(:test_list,{},{sequence_class: sequence_class, sequence_result: sequence_results[sequence_class.sequence_name] }) %>
</div>
