<div class="client-state">
  <form>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">FHIR URI</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.url %>" disabled>
      </div>
    </div>

    <h4>Conformance Statement Resource Support</h4>

    <% if instance.supported_resources.count %>
      <ul>
      <% instance.supported_resources.each do |resource| %>
        <% if resource.supported %>
          <li><%= resource.resource_type %> [
              <% if resource.read_supported %> read, <% end %>
              <% if resource.vread_supported %> vread, <% end %>
              <% if resource.history_supported %> history, <% end %>
              <% if resource.scope_supported %> authorized <% end %>
              ]
          <% end %>
        <% end %>

      </ul>
      <% end %>

    <h4>OAuth Server Endpoints</h4>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">OAuth Auth</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.oauth_authorize_endpoint %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">OAuth Token</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.oauth_token_endpoint %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">OAuth Reg</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.oauth_register_endpoint %>" disabled>
      </div>
    </div>

    <h4>Client OAuth Endpoints</h4>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Launch URI</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=request.base_url%>/smart/<%=instance.id%>/<%=instance.client_endpoint_key%>/launch" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Redir URI</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=request.base_url%>/smart/<%=instance.id%>/<%=instance.client_endpoint_key%>/redirect" disabled>
      </div>
    </div>


    <h4>OAuth Client Data</h4>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Scopes</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.scopes %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Client ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.client_id %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Client State</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.state %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Bearer Token</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="<%=instance.token %>" disabled>
      </div>
    </div>

    <% if instance.resource_references.count > 0 %>
      <h4>Authorized Resources</h4>
      <%instance.resource_references.map(&:resource_type).uniq.each do |resource_type| %>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"><%=resource_type %></label>
          <div class="col-sm-10">
            <texatarea readonly class="form-control" rows=3><%=instance.resource_references.select{|r| r.resource_type == resource_type}.map(&:resource_id).join(', ') %></textarea>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
