<% modules = modules.flatten.compact %>
<% if modules.length == 1 %>
  <input type="hidden" name="module" value=<%=modules[0].name %>>
<% else %>
  <% modules.each_with_index do |mod, index| %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="module" value="<%=mod.name %>" id="<%=mod.name %>" <% if index == 0 %>checked<% end %>>
      <label class="form-check-label" for="<%=mod.name %>">
      <%=mod.title %>
      <% unless mod.fhir_version.nil? %>
        <span class='badge badge-dark'>FHIR <%=mod.fhir_version.upcase%></span>
      <% end %>
      <% mod.tags.each do |tag| %>
        <span class='badge module-tag badge-dark' data-toggle="tooltip" title="<%= tag.description %>"><%= tag.name %></span>
      <% end %>
      </label>
    </div>
  <% end %>
<% end %>
