<div class="modal-header">
  <h5 class="modal-title" id="testDetailsModalLabel">
    <%=@test.id %>:
    Test Details: <%=@test.name %>
  </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="test-result-details">

    <% if @test.description.present? %>
      <div class="test-result-details-description">
        <%= markdown_to_html(@test.description) %>
        <a class="test-result-details-url"target="_blank" href="<%= @test.link %>"><%= @test.link %></a>
      </div>
    <% end %>
  </div>
</div>

