<!doctype html>
<html lang="en">
  <head>
    <title><%=app_name%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="<%=base_path%>/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=base_path%>/static/open-iconic/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="<%=base_path%>/static/css/styles.css?<%=version%>">
    <link rel="icon" href="<%=base_path%>/static/images/favicon.ico?<%=version%>" type="image/x-icon">
  </head>
  <body <% if defined?(hide_header) %>style="background-color: #fff"<% end %>>
    <% unless defined?(hide_header) %>
      <nav class="navbar navbar-expand navbar-light inferno-header" role="banner">
        <div class="container">
          <div class='inferno-branding'>
            <a class="navbar-brand" style="margin: 10px 0;" href="<%=base_path%>/">
              <img src='/images/inferno_logo.png' alt='Inferno Logo'>
            </a>
            <% if badge_text.kind_of? String and !badge_text&.empty? %>
              <span class='badge badge-dark' style="background-color: #063d75"><%= badge_text %></span>
            <%end %>
          </div>
          <!-- Navbar content -->
          <%# <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/onc-healthit/inferno/">Documentation</a>
            </li>
          </ul> %>
        </div>
      </nav>
    <% end %>
    <script type="text/javascript">
      if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        alert('Inferno does not currently support Internet Explorer.  Please switch to another browser, such as Chrome, Firefox, Safari, or Edge.');
    </script>

    <%= yield %>

    <!-- global modals -->
    <div class="modal fade" id="ServerStatusModal" tabindex="-1" role="dialog" aria-labelledby="ServerStatusModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ServerStatusModalLabel">Server Configuration</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= erb(:server_state, {}, {}) %>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container row">
        <div class="col-sm text-left">
          <a target="_blank" href="https://github.com/onc-healthit/inferno">Open Source</a>
        </div>
        <div class="col-sm text-center">
          <a target="_blank" href="https://github.com/onc-healthit/inferno/issues">Issues</a>
        </div>
        <div class="col-sm text-right">
          <a href="#" data-toggle="modal" data-target="#ServerStatusModal">
            Version <%= version %>
          </a>
        </div>
      </div>
    </footer>

    <script>
       window.basePath = '<%= base_path %>';
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Tether.js, then Popper.js, then Bootstrap JS -->
    <script src="<%=base_path%>/static/js/jquery-3.2.1.min.js"></script>
    <script src="<%=base_path%>/static/js/tether.min.js"></script>
    <script src="<%=base_path%>/static/js/popper.min.js"></script>
    <script src="<%=base_path%>/static/js/bootstrap.min.js"></script>
    <script src="<%=base_path%>/static/js/app.js?<%=version%>"></script>

  </body>
</html>
