<div class="container">
  <div class="row">
      <% modules = modules.flatten.compact %>
      <% if modules.length == 1 %>
        <input type="hidden" name="module" value=<%=modules[0] %>>
      <% else %>
      <div class="col">
        <fieldset>
          <legend>What module would you like to run?</legend>
          <input type="radio" name="module" value="<%=modules[0] %>" id="<%=modules[0] %>" checked>
          <label for="<%=modules[0] %>"><%=modules[0] %></label>
          <% modules.drop(1).each do |mod| %>
            <input type="radio" name="module" value="<%=mod %>" id="<%=mod %>">
            <label for="<%=mod %>"><%=mod %></label>
          <% end %>
        </fieldset>
      </div>
  <% end %>
  </div>
</div>