
  <div class="card report-summary">
    <div class="sequence-title container">
      <span class="sequence-name">
        Report Summary
      </span>
      <span class="sequence-out-of">
        - <%=report_summary[:latest_sequence_time] %>
      </span>
      <div class="report-url">
        <%= "#{report_summary[:inferno_url]}" %>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-3 result-column">
          <div class="metrics-value">
            <%=report_summary[:final_result].to_s.upcase%>
          </div>
          <div class="text-muted">
            Final Result
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="metrics-value-small">
                <%=report_summary[:request_response] %>
              </div>
              <div class="text-muted">
                Requests
              </div>
            </div>
            <div class="col">
              <div class="metrics-value-small">
                <%=report_summary[:resource_references]%>
              </div>
              <div class="text-muted">
                Resource References
              </div>
            </div>
            <div class="col">
              <div class="metrics-value-small">
                <%=report_summary[:supported_resources]%> / <%=report_summary[:resources_tested]%>
              </div>
              <div class="text-muted">
                Supported Resources
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col">
              <div class="metrics-value-small">
                <%=report_summary[:fhir_version].upcase%>
              </div>
              <div class="text-muted">
                FHIR Version
              </div>
            </div>
            <div class="col">
              <div class="metrics-value-small">
                <%=report_summary[:app_version]%>
              </div>
              <div class="text-muted">
                Inferno Version
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% test_set.groups.each do |group| %>
    <div class="sequence-group sequence-action-boundary">
      <div class="sequence-header">
        <div class='row align-items-center'>
          <div class='col'>
            <% if group.test_cases.length > 1 %>
              <a class="sequence-anchor" id="<%=group.test_cases.map {|tc| tc.sequence.sequence_name}%>" name="<%=group.test_cases.map {|tc| tc.sequence.sequence_name}.join(',')%>"></a>
            <% end %>
            <h3>
              <%= group.name %>
            </h3>
          </div>
        </div>
      </div>
      <% group.test_cases.each do |test_case| %>
        <div>
          <% if !sequence_results[test_case.id].nil? && !sequence_results[test_case.id].input_params.nil? %>
            <div class="sequence-row-input card" >
              <div class="sequence-title">
                <span class="sequence-name">
                  Inputs
                </span>
              </div>
              <div class="sequence-details">
                <%= erb(:test_inputs,{},{instance: instance, sequence_result: sequence_results[test_case.id] }) %>
              </div>
            </div>
          <% end %>
          <div class="sequence-row card sequence-action-boundary">
          <div class="sequence-main test-case-data">
            <a id="<%=test_case.id%>" name="<%=test_case.id%>" class='sequence-anchor'></a>
            <div class='container'>
              <div class='row align-items-center no-gutters'>
                <div class='col-<%if show_button%>10<%else%>12<%end%>'>
                  <div class='row no-gutters'>
                    <% case sequence_results[test_case.id].try(:result)
                      when nil %>
                      <div class='col-12'>
                    <% when 'pass' %>
                      <div class="sequence-score sequence-score-pass" data-toggle="tooltip" title="Sequence Passed">
                        <span class="oi oi-check" aria-hidden="true"></span>
                      </div>
                      <div class='col-11'>
                    <% when 'fail' %>
                      <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Failed">
                        <span class="oi oi-x" aria-hidden="true"></span>
                      </div>
                      <div class='col-11'>
                    <% when 'cancel' %>
                      <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Cancelled During Execution">
                        <span class="oi oi-x" title="Cancel" aria-hidden="true"></span>
                      </div>
                      <div class='col-11'>
                    <% when 'error' %>
                      <div class="sequence-score sequence-score-error" data-toggle="tooltip" title="Sequence Test System Error">
                        !
                      </div>
                      <div class='col-11'>
                    <% when 'wait' %>
                      <div class="sequence-score sequence-score-wait" data-toggle="tooltip" title="Sequence is Awaiting Client Redirect or Launch">
                        <span class="oi oi-media-pause" title="waiting" aria-hidden="true"></span>
                      </div>
                      <div class='col-11'>
                    <% when 'skip' %>
                      <div class="sequence-score sequence-score-skip" data-toggle="tooltip" title="Sequence Skipped Due to Insufficient Information">
                          <span class="oi oi-ban" title="Skip" aria-hidden="true"></span>
                      </div>
                      <div class='col-11'>
                    <% end %>
                      <div class="sequence-title">
                        <span class="sequence-name">
                          <%= test_case.title %>
                        </span> - 
                        <div class="sequence-out-of">
                          <% if sequence_results[test_case.id].nil? %>
                            <%= test_case.sequence.test_count %> <% 'test'.pluralize(test_case.sequence.test_count) %>
                          <% else %>
                            <%= sequence_results[test_case.id].required_passed %>/<%= sequence_results[test_case.id].total_required_tests_except_omitted%> Required Tests Passed
                            <% if sequence_results[test_case.id].optional_total > 0%> -
                              <%= sequence_results[test_case.id].optional_passed%>/<%= sequence_results[test_case.id].optional_total%> Optional Tests Passed
                            <% end%>
                            <% if sequence_results[test_case.id].total_omitted.positive?%> -
                               <%= sequence_results[test_case.id].total_omitted %> <%= 'Test'.pluralize(sequence_results[test_case.id].total_omitted) %> Omitted
                            <% end%>
                          <% end %>
                        </div>
                        <div class="sequence-details">
                          <%= test_case.description %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              
            </div>
            </div>
          </div>
        <div class="report-result-details">
          
            <%= erb(:test_list,{},{instance: instance, sequence_class: test_case.sequence, sequence_result: sequence_results[test_case.id] }) %>
          
        </div>
        </div>
        <% if !sequence_results[test_case.id].nil? && !sequence_results[test_case.id].output_results.blank? %>
        <div class="sequence-row-output card" >
          <div class="sequence-title">
            <span class="sequence-name">
              Outputs
            </span>
          </div>
          <div class="sequence-details">
            <%= erb(:test_outputs,{},{instance: instance, sequence_result: sequence_results[test_case.id] }) %>
          </div>
        </div>
        <% end %>
      </div>
      
      <% end %>
    </div>
  <% end %>
</div>
