<div class="sequence-row card">
  <div class="sequence-main">
    <a id="<%=sequence_class.sequence_name%>" name="<%=sequence_class.sequence_name%>" class='sequence-anchor'></a>
    <div class='container'>
    <div class='row align-items-center no-gutters'>
      <div class='col-10'>
        <div class='row no-gutters'>
          <% case sequence_results[sequence_class.sequence_name].try(:result)
            when nil %>
            <div class='col-12'>
          <% when 'pass' %>
            <div class="sequence-score sequence-score-pass" data-toggle="tooltip" title="Sequence Passed">
              <span class="oi oi-check" aria-hidden="true"></span>
            </div>
            <div class='col-11'>
          <% when 'fail' %>
            <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Failed">
              <span class="oi oi-x" aria-hidden="true"></span>
            </div>
            <div class='col-11'>
          <% when 'cancel' %>
            <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Cancelled During Execution">
              <span class="oi oi-x" title="Cancel" aria-hidden="true"></span>
            </div>
            <div class='col-11'>
          <% when 'error' %>
            <div class="sequence-score sequence-score-error" data-toggle="tooltip" title="Sequence Test System Error">
              !
            </div>
            <div class='col-11'>
          <% when 'wait' %>
            <div class="sequence-score sequence-score-wait" data-toggle="tooltip" title="Sequence is Awaiting Client Redirect or Launch">
              <span class="oi oi-media-pause" title="waiting" aria-hidden="true"></span>
            </div>
            <div class='col-11'>
          <% when 'skip' %>
            <div class="sequence-score sequence-score-skip" data-toggle="tooltip" title="Sequence Skipped Due to Insufficient Information">
                <span class="oi oi-ban" title="Skip" aria-hidden="true"></span>
            </div>
            <div class='col-11'>
          <% end %>
            <div class="sequence-title">
              <span class="sequence-name">
                <%= sequence_class.title %>
              </span> - 
              <div class="sequence-out-of">
                <% if sequence_results[sequence_class.sequence_name].nil? %>
                  <%= sequence_class.test_count %> tests
                <% else %>
                  <%= sequence_results[sequence_class.sequence_name].passed_count %> Passed -
                  <%= sequence_results[sequence_class.sequence_name].failed_count %> Failed
                  <% if sequence_results[sequence_class.sequence_name].skip_count > 0 %> -
                    <%= sequence_results[sequence_class.sequence_name].skip_count %> Skipped
                  <% end %>

                <% end %>
                 -
                <button class='sequence-expand-button'
                        href="#<%=sequence_class.name.demodulize%>-details"
                        data-toggle="collapse"
                        data-result-details='<%=sequence_class.name.demodulize%>-details'
                        aria-controls="<%=sequence_class.name.demodulize%>-details">
                  Show Details
                </button>
              </div>
              <div class="sequence-details">
                <%= sequence_class.description %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sequence-action col-2">
        <%if instance.supported_resources.length > 0 && !sequence_class.conformance_supports.all?{|resource| instance.conformance_supported?(resource)}%>
          <span class="oi oi-warning not-supported-warning" aria-hidden="true" ata-toggle="tooltip" title="The Conformance Statement does not indicate support for the Resources required for this test."></span>
        <%end%>
        <span>
          <% #FIXME: Consider ignoring SKIP when displaying the latest sequence result because it shouldn't materially change the current status. %>
          <% if sequence_results[sequence_class.sequence_name]%>
            <button type="submit" class="sequence-button btn btn-outline-info btn-sm"
                                  data-defines= "<%= sequence_class.defines.join(',') %>"
                                  data-requires= "<%= sequence_class.requires.join(',') %>"
                                  data-sequence="<%=sequence_class.name.demodulize%>"
                                  data-sequence-title="<%= sequence_class.title %>">
              <span class="oi oi-action-undo"></span>
              Run Again
            </button>
          <% else %>
            <button type="submit" class="sequence-button btn btn-<% if sequence_results[sequence_class.sequence_name] %>outline-<%end%>info btn-sm "
                                  data-defines= "<%= sequence_class.defines.join(',') %>"
                                  data-requires= "<%= sequence_class.requires.join(',') %>"
                                  data-sequence="<%=sequence_class.name.demodulize%>"
                                  data-sequence-title="<%= sequence_class.title %>">
              <span class="oi oi-media-play"></span>
              Run
            </button>
          <% end %>
        </span>
      </div>
    </div>
    </div>
  </div>
  <div class="result-details collapse" id="<%=sequence_class.name.demodulize%>-details">
    <% if !sequence_class.details.nil? %>
      <ul class="nav nav-tabs result-details-tabs" id="<%=sequence_class.name.demodulize%>_result-details-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="<%=sequence_class.name.demodulize%>_test_list-tab" data-toggle="tab" href="#<%=sequence_class.name.demodulize%>_test_list" role="tab" aria-controls="<%=sequence_class.name.demodulize%>_test_list" aria-selected="true"><% if sequence_results[sequence_class.sequence_name].nil? %>Test List<% else %> Test Results<%end%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="<%=sequence_class.name.demodulize%>_more-information-tab" data-toggle="tab" href="#<%=sequence_class.name.demodulize%>_more-information" role="tab" aria-controls="<%=sequence_class.name.demodulize%>_more-information" aria-selected="false">Overview</a>
        </li>
      </ul>
      <div class="tab-content" id="<%=sequence_class.name.demodulize%>_tabs">
        <div class="tab-pane fade show active" id="<%=sequence_class.name.demodulize%>_test_list" role="tabpanel" aria-labelledby="<%=sequence_class.name.demodulize%>_test_list-tab">
          <%= erb(:test_list,{},{instance: instance, sequence_class: sequence_class, sequence_result: sequence_results[sequence_class.sequence_name] }) %>
        </div>
        <div class="tab-pane fade more-information" id="<%=sequence_class.name.demodulize%>_more-information" role="tabpanel" aria-labelledby="<%=sequence_class.name.demodulize%>_more-information-tab">
          <%= markdown_to_html(sequence_class.details).html_safe %>
        </div>
      </div>
    <% else %>
      <%= erb(:test_list,{},{instance: instance, sequence_class: sequence_class, sequence_result: sequence_results[sequence_class.sequence_name] }) %>
    <% end %>
  </div>
</div>
