<ul class='test-list'>
  <% sequence_result && sequence_result.test_results.each do |result, index| %>
    <li class='test-list-item'>
      <% case result.result
        when 'pass' %>
          <div class="result-details-icon result-details-icon-pass" data-toggle="tooltip" title="Test passed.">
            <span class="oi oi-check"></span>
          </div>
      <% when 'fail' %>
         <% if result.required %>
              <div class="result-details-icon result-details-icon-fail" data-toggle="tooltip" title="Test Failed.">
                <span class="oi oi-x"></span>
              </div>
          <% else %>
              <div class="result-details-icon result-details-icon-fail-optional" data-toggle="tooltip" title="Optional test failed. Optional tests are not required for conformance.">
                <span class="oi oi-x"></span>
              </div>
          <% end %>
      <% when 'cancel' %>
          <div class="result-details-icon result-details-icon-cancel" data-toggle="tooltip" title="Test cancelled by user during execution.">
            <span class="oi oi-x" title="Cancel" aria-hidden="true"></span>
          </div>
      <% when 'error' %>
          <div class="result-details-icon result-details-icon-error" data-toggle="tooltip" title="Fatal error occurred during test.">
            !
          </div>
      <% when 'skip' %>
          <div class="result-details-icon result-details-icon-skip" data-toggle="tooltip" title="Test was skipped and does not affect passing or failed scores.">
            <span class="oi oi-ban" title="Skip" aria-hidden="true"></span>
          </div>
      <% when 'wait' %>
          <div class="result-details-icon result-details-icon-wait" data-toggle="tooltip" title="Test is waiting for a server launch or redirect">
            <span class="oi oi-media-pause"></span>
          </div>
      <% when 'todo' %>
          <div class="result-details-icon result-details-icon-todo">
            <span class="oi oi-minus"></span>
          </div>
      <% when 'omit' %>
        <div class="result-details-icon result-details-icon-omit" data-toggle="tooltip" title="Test was omitted and does not affect passing or failed scores">
          <span class="oi oi-media-record" aria-hidden="true"></span>
        </div>
      <% end %>
      <% if result.test_warnings.length > 0 %>
          <div class="result-details-icon result-details-icon-warning" style="float:right;" data-toggle="tooltip" title="<%= result.test_warnings.length %> warning(s). Warnings do not result in a test failure.">
            <span class="oi oi-warning"></span>
          </div>
      <% end %>

      <% unless result.request_responses.find{ |f| f.direction == 'outbound'}.nil? %>
          <div class="result-details-icon result-details-icon-requests" style="float:right;" data-toggle="tooltip" title="Test contains outbound http requests.">
            <span class="oi oi-arrow-thick-right"></span>
          </div>
      <% end %>

      <% unless result.request_responses.find{ |f| f.direction == 'inbound'}.nil? %>
          <div class="result-details-icon result-details-icon-requests" style="float:right;" data-toggle="tooltip" title="Test contains inbound http requests.">
            <span class="oi oi-arrow-thick-left"></span>
          </div>
      <% end %>

      <% if result.result == 'todo' %> TODO: <% end %>
      <strong><%= test_case_prefix %><%= result.test_id %></strong>:
      <% unless result.required %> OPTIONAL |  <% end %>
      <%=result.name %>
      <button class="test-results-more" data-testing-instance-id="<%=sequence_result.testing_instance.id%>" data-test-result-id="<%=result.id%>">results...</button>
      <% unless result.message.nil? %>
        <div class="result-details-message">
          <%= markdown_to_html CGI.escapeHTML(result.message) %>
          <%# TODO: Make this dependent on a flag for community/guided edition %>
          <% unless result.required %>
            <p class="result-details-optional-fail">This optional test is not required for conformance.<p>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
  <% start_at = 0%>
  <% start_at = [sequence_result.test_results.length, sequence_class.tests(instance.module).length].min unless sequence_result.nil? %>
  <% sequence_class.tests(instance.module)[start_at..-1].each_with_index do |test, index| %>
    <li class='test-list-item'>
      <strong><%= test_case_prefix %><%= test.id %></strong>:
        <% if test.optional? %> OPTIONAL |  <% end %>
        <%= test.name %>
        <button class="test-list-more"
                data-module="<%=instance.module.name%>"
                data-sequence-name="<%=sequence_class.sequence_name%>"
                data-test-index="<%=index%>">more...</button>
    </li>
  <% end %>
</ul>

