<div class="modal-header">
  <h5 class="modal-title" id="testResultDetailsModalLabel">
    Test Result: <%=@test_result.result.titleize %>
  </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="test-result-details">

    <div class="test-result-details-title">
      <% case @test_result.result
          when 'pass' %>
        <div class="result-details-icon result-details-icon-pass">
          <span class="oi oi-check" title="Pass" aria-hidden="true"></span>
        </div>
      <% when 'fail' %>
        <div class="result-details-icon result-details-icon-fail">
          <span class="oi oi-x" title="Fail" aria-hidden="true"></span>
        </div>
      <% when 'error' %>
        <div class="result-details-icon result-details-icon-error">
          !
        </div>
      <% when 'skip' %>
        <div class="result-details-icon result-details-icon-skip">
          <span class="oi oi-warning" title="Skip" aria-hidden="true"></span>
        </div>
      <% when 'omit' %>
        <div class="result-details-icon result-details-icon-omit">
          <span class="oi oi-media-record" title="Minus" aria-hidden="true"></span>
        </div>
      
      <% end %>

      <%# TODO: Make this dependent on a flag for community/guided edition %>
      <% unless @test_result.required %> [OPTIONAL] <% end %>
      <%= @test_result.test_id + ': ' +@test_result.name %>
    </div>

    <% unless @test_result.description.nil? %>
      <div class="test-result-details-description">
        <%= markdown_to_html(@test_result.description) %>
        <a class="test-result-details-url"target="_blank" href="<%= @test_result.url %>"><%= @test_result.url %></a>
      </div>
    <% end %>

    <% unless @test_result.url.nil? %>
      <div class="test-result-details-url">
      </div>
    <% end %>

    <% unless @test_result.message.nil? %>
      <div class="test-result-details-message">
        <span class="test-result-details-message-label">Message:</span> <%= markdown_to_html CGI.escapeHTML(@test_result.message) %>
      </div>
    <% end %>

    <% unless @test_result.details.nil? %>
      <div class="test-result-details-details">
        <%= markdown_to_html(@test_result.details) %>
      </div>
    <% end %>

    <% unless @test_result.test_warnings.empty? %>
      <div class="test-result-details-warnings">
        <% @test_result.test_warnings.each do |w| %>
          <div class="test-result-details-warning">
            <span class="oi oi-warning" title="Warning" aria-hidden="true"></span> <%=CGI.escapeHTML w.message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="test-result-details-header"><%=@test_result.request_responses.count %> Request<% if @test_result.request_responses.count != 1 %>s<% end %></div>

    <% @test_result.request_responses.each_with_index do |rr,index| %>
    <div class="test-result-details-response">
      <a class="test-result-details-response-header collapsed" title="<%=rr.request_url%>"data-toggle="collapse" aria-expanded="false" data-target="#test-result-details-response-values-<%=index%>">
        <% if rr.direction == 'outbound' %>
          <span class="oi oi-arrow-thick-right" title="outbound requests" aria-hidden="true"></span>
        <% else %>
          <span class="oi oi-arrow-thick-left" title="inbound requests" aria-hidden="true"></span>
        <% end %>
        &nbsp;
        <%= rr.request_method.upcase %> &nbsp;
        <%= rr.response_code %> &nbsp;
        <%= rr.request_url %>
      </a>

      <div class="collapse test-result-details-response-values" id="test-result-details-response-values-<%=index%>">

        <div class="test-result-details-header">Request</div>
        <div class="test-result-details-subheader">Headers</div>
        <ul>
        <% valid_json?(rr.request_headers) && JSON.parse(rr.request_headers).each do |header_name, header_value| %>
          <li><strong><%=header_name%></strong>: <code><%=header_value%></code><br/></li>
        <% end %>
        </ul>
        <% unless rr.request_payload.nil? %>
          <div class="test-result-details-subheader">Payload</div>
          <div><pre><code><%=CGI.escapeHTML rr.request_payload%></code></pre></div>
        <% end %>

        <% if rr.direction == 'outbound' %>

          <div class="test-result-details-header">Response</div>
          <div class="test-result-details-subheader">Headers</div>
          <ul>
            <% valid_json?(rr.response_headers) && JSON.parse(rr.response_headers).each do |header_name, header_value| %>
              <li><strong><%=header_name%></strong>: <code><%=header_value%></code></li>
            <% end %>
          </ul>
          <% unless rr.response_body.nil? %>
            <div class="test-result-details-subheader">Body</div>
            <div><pre><code><%=CGI.escapeHTML rr.response_body%></code></pre></div>
          <% end %>

        <% end %>


      </div>
    </div>
  <% end %>
</div>

