<div class="sequence-row card sequence-action-boundary">
  <div class="sequence-main test-case-data"
  data-defines= "<%= test_case.sequence.defines.join(',') %>"
  data-requires= "<%= test_case.sequence.requires.join(',') %>"
  data-sequence="<%=test_case.sequence.sequence_name%>"
  data-variable-defaults="<%=test_case.variable_defaults&.keys&.join(',')%>"
  <% test_case.variable_defaults&.each do |key, value| %>
     data-variable-default<%=key%>="<%=value%>"
  <% end %>
  data-test-case="<%=test_case.id%>"
  data-test-case-title="<%= test_case.title %>"
  data-result="<%=sequence_results[test_case.id].try(:result)%>"
  data-show-uris="<%= test_case.sequence.show_uris? %>"
  <% test_case.parameters.reject{|key| ['description', 'title', 'sequence'].include?(key.to_s)}.each do |key, value| %>
    <%# Note: TODO: Use this data to hard code values to a given test case.   Not yet needed %>
    data-parameter-<%=key.to_s%>="<%=value%>"
  <% end %>
  >
    <a id="<%=test_case.test_group.id%>/<%=test_case.id%>" name="<%=test_case.test_group.id%>/<%=test_case.id%>" class='sequence-anchor'></a>
    <div class='container'>
      <div class='row align-items-center no-gutters'>
        <div class='col-<%if show_button%>10<%else%>12<%end%>'>
          <div class='row no-gutters'>
            <% case sequence_results[test_case.id].try(:result)
              when nil %>
              <% if index.nil? %>
                <div class='col-12'>
              <% else %>
                <div class="sequence-score sequence-score-index" data-toggle="tooltip" title="Sequence Passed">
                  <%= index + 1 %>
                </div>
                <div class='col-11'>
              <% end %>
            <% when 'pass' %>
              <div class="sequence-score sequence-score-pass" data-toggle="tooltip" title="Sequence Passed">
                <span class="oi oi-check" aria-hidden="true"></span>
              </div>
              <div class='col-11'>
            <% when 'fail' %>
              <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Failed">
                <span class="oi oi-x" aria-hidden="true"></span>
              </div>
              <div class='col-11'>
            <% when 'cancel' %>
              <div class="sequence-score sequence-score-fail" data-toggle="tooltip" title="Sequence Cancelled During Execution">
                <span class="oi oi-x" title="Cancel" aria-hidden="true"></span>
              </div>
              <div class='col-11'>
            <% when 'error' %>
              <div class="sequence-score sequence-score-error" data-toggle="tooltip" title="Sequence Test System Error">
                !
              </div>
              <div class='col-11'>
            <% when 'wait' %>
              <div class="sequence-score sequence-score-wait" data-toggle="tooltip" title="Sequence is Awaiting Client Redirect or Launch">
                <span class="oi oi-media-pause" title="waiting" aria-hidden="true"></span>
              </div>
              <div class='col-11'>
            <% when 'skip' %>
              <div class="sequence-score sequence-score-skip" data-toggle="tooltip" title="Sequence Skipped Due to Insufficient Information">
                  <span class="oi oi-ban" title="Skip" aria-hidden="true"></span>
              </div>
              <div class='col-11'>
            <% end %>
              <div class="sequence-title">
                <span class="sequence-name">
                  <%= test_case.title %>
                </span> - 
                <div class="sequence-out-of">
                  <% if sequence_results[test_case.id].nil? %>
                    <%= test_case.sequence.test_count %> tests
                  <% else %>
                    <%= sequence_results[test_case.id].required_passed %>/<%= sequence_results[test_case.id].required_total%> Required Tests Passed
                    <% if sequence_results[test_case.id].optional_total > 0%> -
                      <%= sequence_results[test_case.id].optional_passed%>/<%= sequence_results[test_case.id].optional_total%> Optional Tests Passed
                    <% end%>
                  <% end %>
                  -
                  <button class='sequence-expand-button'
                          href="#<%=test_case.id%>-details"
                          data-toggle="collapse"
                          data-result-details='<%=test_case.id%>-details'
                          aria-controls="<%=test_case.id%>-details">
                    Show Details
                  </button>
                </div>
                <div class="sequence-details">
                  <%= test_case.description %>
                </div>
              </div>
            </div>
        </div>
      </div>
      <% if show_button %>
      <div class="sequence-action col-2">
        <%if !sequence_results[test_case.id] && instance.supported_resources.length > 0 && !test_case.sequence.conformance_supports.all?{|resource| instance.conformance_supported?(resource)}%>
          <span class="oi oi-warning not-supported-warning" aria-hidden="true" data-toggle="tooltip" title="The Conformance Statement does not indicate support for the Resources required for this test."></span>
        <%end%>
        <span>
          
            <% #FIXME: Consider ignoring SKIP when displaying the latest sequence result because it shouldn't materially change the current status. %>
            <% if sequence_results[test_case.id]%>
              <button type="submit" class="sequence-button btn btn-outline-info btn-sm">
                <span class="oi oi-action-undo"></span>
                Run Again
              </button>
            <% else %>
              <button type="submit" class="sequence-button btn btn-<% if sequence_results[test_case.id] %>outline-<%end%>info btn-sm "">
                <span class="oi oi-media-play"></span>
                Run
              </button>
            <% end %>
            
        </span>
      </div>
      <% end %>
    </div>
    </div>
  </div>
  <% show_log = sequence_results[test_case.id]&.test_results&.any?{ |result| result.request_responses.count > 0} %>
  <% show_overview = !test_case.sequence.details.nil?%>
  <div class="result-details collapse" id="<%=test_case.id%>-details">
    <% if show_log || show_overview %>
      <ul class="nav nav-tabs result-details-tabs" id="<%=test_case.id%>_result-details-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="<%=test_case.id%>_test_list-tab" data-toggle="tab" href="#<%=test_case.id%>_test_list" role="tab" aria-controls="<%=test_case.id%>_test_list" aria-selected="true"><% if sequence_results[test_case.id].nil? %>Test List<% else %> Test Results<%end%></a>
        </li>
        <% if show_log %>
          <li class="nav-item">
            <a class="nav-link" id="<%=test_case.id%>_test-log-tab" data-toggle="tab" href="#<%=test_case.id%>_test-log" role="tab" aria-controls="<%=test_case.sequence.sequence_name%>_test-log" aria-selected="false">HTTP Request Log</a>
          </li>
        <% end %>
        <% if show_overview %>
          <li class="nav-item">
            <a class="nav-link" id="<%=test_case.id%>_more-information-tab" data-toggle="tab" href="#<%=test_case.id%>_more-information" role="tab" aria-controls="<%=test_case.sequence.sequence_name%>_more-information" aria-selected="false">Overview</a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="<%=test_case.id%>_tabs">
        <div class="tab-pane fade show active" id="<%=test_case.id%>_test_list" role="tabpanel" aria-labelledby="<%=test_case.id%>_test_list-tab">
          <%= erb(:test_list,{},{instance: instance, sequence_class: test_case.sequence, sequence_result: sequence_results[test_case.id] }) %>
        </div>
        <% if show_log %>
          <div class="tab-pane fade" id="<%=test_case.id%>_test-log" role="tabpanel" aria-labelledby="<%=test_case.id%>_test-log-tab">
            <%= erb(:test_log,{},{instance: instance, sequence_result: sequence_results[test_case.id] }) %>
          </div>
        <% end %>
        <% if show_overview %>
          <div class="tab-pane fade more-information" id="<%=test_case.id%>_more-information" role="tabpanel" aria-labelledby="<%=test_case.id%>_more-information-tab">
            <%= markdown_to_html(test_case.sequence.details).html_safe %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= erb(:test_list,{},{instance: instance, sequence_class: test_case.sequence, sequence_result: sequence_results[test_case.id] }) %>
    <% end %>
  </div>
</div>
